body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #666;
    text-align: center;
}

h1 {
    color: #333;
}

.center-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #c0392b;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

li span {
    flex: 1;
    font-size: 18px;
    color: #333;
}

button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background: #c0392b;
}
